@{
    ViewBag.Title = "Local-C";
}

<h2>Welcome to local-C! A cool web server for converting your personal computer to a cool web server with an active website.</h2>
<hr class="hr" />
<h2>Press the button to start exploring</h2>

<div class=container-fluid style="margin-top: 20px;">
    <a href="/Downloads/Index" class="btn btn-primary">Start exploring</a>
</div>